@import './../../themes/standart.styl';

.navigation-panel
  width: 165px;
  font: $font-size sans-serif;
  border: $border-color-light solid 1px;

.drawer-papper
  position: 'relative',
  whiteSpace: 'nowrap',
  width: 240px,
    // transition: theme.transitions.create('width', {
    //   easing: theme.transitions.easing.sharp,
    //   duration: theme.transitions.duration.enteringScreen
    // })

.drawer-paper-close
  overflow-x: 'hidden',
  // transition: theme.transitions.create('width', {
  //   easing: theme.transitions.easing.sharp,
  //   duration: theme.transitions.duration.leavingScreen
  // }),
  width: 300px //theme.spacing.unit * 7,
  // [theme.breakpoints.up('sm')]: {
  //   width: theme.spacing.unit * 9

.toolbar-icon 
  display: 'flex',
  // align-items: 'center',
  // justify-content: 'flex-end',
  // padding: 0 8px