$font-size = 14px

$theme-color-1 =rgb(111, 129, 214);
$theme-color-2 =rgb(73, 98, 214);
$theme-color-3 =rgb(21, 49, 174);
$theme-color-4 =rgb(45, 60, 130);
$theme-color-5 =rgb(7, 26, 113);

$text-color-dark = rgba(0,0,0,.84);
$text-color-light = rgba(0,0,0,.44);

$link-color = $theme-color-3;
$link-color-hover = $theme-color-5;

$background-color-main = rgba(213, 230, 234, 1);
$background-color-block = $theme-color-1;
$border-color-light = $theme-color-3;

$title-font-family = Roboto, Arial;