.app-bar
  zIndex: theme.zIndex.drawer + 1,
  // transition: 
  // theme.transitions.create(['width', 'margin'], {
  //   easing: theme.transitions.easing.sharp,
  //   duration: theme.transitions.duration.leavingScreen
  // })

.toolbar
  paddingRight: 24 // keep right padding when drawer closed

.title
  flexGrow: 1

.menu-button
  marginLeft: 12,
  marginRight: 36

.menu-button-hidden
  display: 'none'
