@import './../themes/standart.styl';

html
  height: 100%;
  background-color: $background-color-main;

body
  min-height: 100%;
  background-color: $background-color-main;

.page-container 
  display: flex;  
